@charset "UTF-8";
	.ul{
display: flex;
  }

  .outro {
    display: block;
text-align: center;

  }
	.prereg
		{ 
		display: block;
    	text-align: center;
    	}
    
	.reg	
		{
		display: inline-block;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: left;
	    font-size:20px;	    }
	    
	       .reg input{ font-size:20px;}
    
     p { text-indent: 25px; }
    
   	body 
   		{
            margin: 0 auto;
            background:#06315e; 
            font-size:14px; font-family:Arial, Sans-serif;
        }
        
        textarea{font-size:20px;}
   
        .first button{ font-size:20px;}
          .first input{ font-size:20px;}
   .menu 
        {
            background-color: #f1f1f1;
            box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
            width: auto;
            text-decoration: none;
            height:70px ;
            font-size:18px;
        }
        
   .user{ font-size:10px;}
        
   .menu li 
        {
        	text-decoration: none;
            display: inline-block;
            vertical-align: top;       
            padding: 15px;
            text-align: center;
            width: 130px;
            height: 14px;
            color: #6f6d6d;            
            list-style: none;
        }
        
	.menu li:hover 
        {
            background-color: rgb(57, 122, 169);
             height:25px ;
            cursor: pointer;
            color: #f8f8f8;
            text-decoration: none;
        }
        .menu A{text-decoration: none;
        color:rgb(0, 0, 0)}
       
        .first {
         font-size:20px;
            width:1060px; 
            min-height:950px; 
            margin:0 auto; 
            padding:20px 20px 20px 20px;
            background:#fff;
        }
        
        .about {
 display:inline-block;
 width: 200px;
}
		.gaga{ 
width: 1010px; 
    margin: 0 5px 15px 0;
    text-align: center;
    display: inline-block;  
    vertical-align: top; 
}

		.about img {
    margin-top:12px;

 width: 200px;
}
.aboutS img {
  margin-top:12px;
align-items:center;
text-align:center;
width: 200px;
}
.aboutS{    margin-top:12px;
  width: 200px;
align-items:center;
text-align:center;}

.imagesS{    margin: 0px 10px 20px 10px;
  width: 315px;
  height: auto;
  padding: 25px;}
  .Contents{    margin: 0px 10px 20px 10px;
  width: 1800px;
  height: auto;
  padding: 25px;}
.Content{margin: 20px 0px;
  display: flex;
  justify-content: center;
      flex-wrap: nowrap;}
   
.ss{
  align-items: center;
}
        